<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="DHIS2 Low-Resolution friendly visualization">
    <meta name="author" content="raptor">
    <title>DHIS2 - Visualization of different graphs</title>
    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css" rel="stylesheet">
    <link href="assets/css/nv.d3.css" rel="stylesheet">
    <link href="assets/css/viz.css" rel="stylesheet">

  </head>
  <body>
  

    <div class="container">
      <div class ="row">
        <div id="indicatorGroups" class="col-12"></div>
      </div>  
      <div class="row">
        <div id="content" class="col-12"></div>
      </div>
    </div>

    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="assets/lib/jquery.js"></script>
    <script src="assets/lib/bootstrap.js"></script>
    <script src="assets/lib/nv.d3.min.js"></script>
    <script src="assets/src/drawgraphs.js"></script>
  </body>
</html>