<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <header>
    <h3>Choose a graph type</h3>
    <hr/>
  </header>
</div>
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <ul id="graphTypes"></ul>
</div>
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <header>
    <h3>Choose indicator</h3>
    <hr/>
  </header>
</div>
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <ul id="indicators"></ul>
</div>
<div id="loveButton">
  <a href="javascript:void(0);" class="btn-block btn btn-primary"></a>
</div>